span.fc-time {
  display: none;
}

body {
  margin: 40px 10px;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

/* form styling */
#appointment .form_row{
	display: inline-block;
}

#appointment label{
float: left;
width: 120px;
font-weight: bold;
}

#appointment input{
width: 180px;
margin-bottom: 5px;
}

#appointment textarea{
width: 250px;
height: 150px;
margin-bottom: 5px;
}

#appointment #submitbutton{
margin-left: 120px;
margin-top: 5px;
width: 90px;
}

/*ijiji*/